---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
import TalkDay from "../components/TalkDay.astro"
import { Icon } from "astro-icon/components"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { convertToATCB } from "../talk-utils"

const allTalks = (await getCollection("talks")).toSorted(
  (t1, t2) => t1.data.date.valueOf() - t2.data.date.valueOf(),
)

const talksByDate: Map<string, typeof allTalks> = new Map()

for (const t of allTalks) {
  const date = t.data.date.toISOString().slice(0, 10)
  let list = talksByDate.get(date)
  if (!list) {
    list = []
    talksByDate.set(date, list)
  }
  list.push(t)
}

const now = Date.now()
const dates: Array<string> = Array.from(talksByDate.keys()).toSorted()
const futureDates = dates.filter((d) => new Date(d).valueOf() >= now)
const pastDates = dates.filter((d) => new Date(d).valueOf() < now).toReversed()

const futureTalks = allTalks.filter((t) => t.data.date.valueOf() >= now)
const addToCalendarDates = JSON.stringify(futureTalks.map(convertToATCB))
---

<Layout title="DAIS RMU Seminar">
  <script src="/add-to-calendar-button@2.js" async defer></script>
  <main>
    <section>
      <Header />
      <p>
        The <b>Discrete Algorithm Insights Seminar</b> at the <a
          href="https://www.rhein-main-universitaeten.de/en"
          >Rhine-Main-Universities</a
        > is a regular in-person seminar for researchers and students interested
        in discrete algorithms and related topics, such as graph theory, complexity,
        and optimization.
      </p>

      <a
        class="infobox subscribe"
        href="https://dlist.server.uni-frankfurt.de/mailman/listinfo/dais"
      >
        <Icon name="lucide:mail" class="icon" />
        <div>
          Please subscribe to our mailing list to receive reminders and
          additional information
        </div>
      </a>

      Everyone is welcome to attend without registration! If possible, please
      subscribe to our mailing list so that we have a rough estimate for the
      number of participants.
    </section>

    {
      futureDates.length > 0 && (
        <section>
          <div class="h2-and-add-to-calendar-button">
            <h2>Upcoming talks</h2>
            <add-to-calendar-button
              name="DAIS RMU Seminar"
              dates={addToCalendarDates}
              timeZone="Europe/Berlin"
              options="'iCal','Apple','Google','Outlook.com','Yahoo','MicrosoftTeams','Microsoft365'"
              iCalFileName="dais-calendar"
              hideBackground
              hideCheckmark
              size="2"
            />
          </div>
          <div class="days-list">
            {futureDates.map((d) => (
              <TalkDay date={d} talks={talksByDate.get(d)} />
            ))}
          </div>
        </section>
      )
    }
    {
      pastDates.length > 0 && (
        <section>
          <h2>Past talks</h2>
          <div class="days-list">
            {pastDates.map((d) => (
              <TalkDay compact date={d} talks={talksByDate.get(d)} />
            ))}
          </div>
        </section>
      )
    }

    <section>
      <h2>About</h2>
      DAIS is organized by the
      <strong>Consortium on Discrete Algorithm Insights (CoDa Insights)</strong
      >. The Consortium consists of all interested researchers and students from
      the Rhine-Main-Universities, and is currently coordinated by the following
      faculty members:
      <ul>
        <li>
          <a
            href="https://www.algorithmics.informatik.uni-mainz.de/people/ernst-althaus/"
            >Prof. Dr. Ernst Althaus</a
          > (Johannes Gutenberg University Mainz)
        </li>
        <li>
          <a href="https://holgerdell.com">Prof. Dr. Holger Dell</a> (Goethe University
          Fankfurt)
        </li>
        <li>
          <a
            href="https://www.mathematik.tu-darmstadt.de/fb/personal/details/pascal_schweitzer.de.jsp"
            >Prof. Dr. Pascal Schweitzer</a
          > (TU Darmstadt)
        </li>
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
<style>
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h2 {
    padding: 0;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: xx-large;
  }
  .h2-and-add-to-calendar-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-bottom: 1.25rem;
  }

  .h2-and-add-to-calendar-button > h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    width: 100%;
  }
  @media (min-width: 500px) {
    h2 {
      width: max-content;
    }
    .h2-and-add-to-calendar-button {
      justify-content: space-between;
      place-items: baseline;
    }
  }
  .infobox {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: max-content;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5ex;
    padding: 0.5rem;
    border-radius: 20px;
    transition: ease-in-out 0.5s;
  }
  .subscribe {
    border: 2px solid rgb(111, 111, 0, 20%);
    background: rgba(255, 255, 0, 33%);
  }
  .subscribe:is(:hover, :focus) {
    border: 2px solid rgb(111, 111, 0, 100%);
    background: rgba(255, 255, 0, 70%);
  }
  .subscribe:is(:hover, :focus) .icon {
    color: rgb(var(--accent-mainz));
    animation: jump 1s;
  }
  .icon {
    height: 2rem;
    transition: ease-in-out 0.5s;
    position: relative;
    color: rgb(var(--accent-darmstadt));
  }
  @keyframes jump {
    0% {
      left: 0;
    }
    33% {
      left: 0.3rem;
    }
    67% {
      left: -0.3rem;
    }
    100% {
      left: 0;
    }
  }
  a {
    color: inherit;
  }
  .days-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
