---
import type { CollectionEntry } from "astro:content"
import { printTime } from "../talk-utils"

interface Props {
  talk: CollectionEntry<"talks">
}

const { talk } = Astro.props
const time = printTime(talk.data.date)
---

<li class="talk-card">
  <div>
    <!--href={talk.slug}-->
    <div class="time">{time}</div>
    <details>
      <summary class={talk.body ? "has-abstract" : ""}>
        <div class="speaker">
          <span class="name">{talk.data.speakerName}</span>
          {
            talk.data.speakerAffiliation && (
              <span class="affiliation"> ({talk.data.speakerAffiliation})</span>
            )
          }
        </div>
        {talk.data.title && <div class="title">{talk.data.title}</div>}
        {talk.body && <div class="show-more">[show abstract]</div>}
        {talk.body && <div class="show-less">[hide]</div>}
      </summary>
      {
        talk.body && (
          <div class="abstract">
            <b>Abstract:</b>
            {talk.body}
          </div>
        )
      }
    </details>
  </div>
</li>
<style>
  .time {
    font-weight: bold;
  }
  .name {
    font-weight: bold;
  }
  .title {
  }
  details[open] .show-more {
    display: none;
  }
  details:not([open]) .show-less {
    display: none;
  }
  .show-more,
  .show-less {
    margin-top: 1ex;
    font-size: small;
    /* font-family: "Courier New", Courier, monospace; */
    text-decoration: underline;
    cursor: pointer;
    color: black;
    width: max-content;
  }
  .talk-card {
    list-style: none;
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  .talk-card > * {
    color: inherit;
    text-decoration: none;
    width: 100%;
    line-height: 1.4;
    padding: 0.5rem;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1ex;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .abstract {
    background-color: rgba(var(--accent-color), 0.2);
    padding: 0.5rem;
    font-size: 90%;
    /* border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(var(--accent-color), 1), rgba(0, 0, 0, 0)) 1 100%; */
  }
  /* .talk-card:is(:hover, :focus-within) {
    background-color: rgb(var(--accent-color));
    color: white;
  } */
  details {
    width: 100%;
  }
  .has-abstract {
    /* cursor: pointer; */
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
</style>
