---
import type { CollectionEntry } from "astro:content"
import Talk from "./Talk.astro"
import { defaultCampus, printDate } from "../utils/talk-utils"

interface Props {
  date: string
  talks: Array<CollectionEntry<"talks">> | undefined
}

const { date, talks } = Astro.props
const niceDate = printDate(new Date(date))
const city = talks && talks[0] && talks[0].data.city
const campus = (talks && talks[0] && talks[0].data.campus) || (city && defaultCampus[city])
const room = talks && talks[0] && talks[0].data.room
const mapURL = talks && talks[0] && talks[0].data.mapURL
---

<div class={"talk-day " + (city || "")}>
  <ul class="talks">
    <li class="header">
      <div class="date">{niceDate}</div>
      <div class="campus">{campus}</div>
      {room && <div class="room">{room}{mapURL && <span>&nbsp;(<a href={mapURL}>show on map</a>)</span>}</div>}
    </li>
    {talks && talks.map((t) => <Talk talk={t} />)}
  </ul>
</div>

<style>
  a {
    color: inherit;
    transition: all 0.2s ease-in-out;
  }
  a:is(:hover, :focus) {
    background-color: rgba(0,0,0,0.3);
  }
  .header {
    padding: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(var(--accent-color));
    color: white;
  }
  .date {
    font-weight: bold;
    font-size: 116%;
  }
  .talk-day {
    background-color: rgba(var(--accent-color), 30%);
    border: 2px solid rgb(var(--accent-color));
    font-size: 1rem;
    border-radius: 20px;
    overflow: hidden;
  }
  .talk-day.darmstadt {
    --accent-color: var(--accent-darmstadt);
  }
  .talk-day.frankfurt {
    --accent-color: var(--accent-frankfurt);
  }
  .talk-day.mainz {
    --accent-color: var(--accent-mainz);
  }
  .talks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
</style>
